.content-aside {
    /* border: 1px solid #61b919; */
    max-width: 261px;
  }
  
  .content-aside__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    margin: 9px 0 23px;
  }
  
  .content-aside__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    height: 100%;
  }
  
  .content-aside__list-item--img {
    width: 30px;
    height: 30px;
    border: 1px dashed #d8cfcf;
  }
  .content-aside__list-item--title {
    margin: 7px 0 5px;
    font-size: 16px;
  }
  
  .content-aside hr {
    margin: 36px 0 39px;
    color: rgb(229, 229, 229);
  }
  
  .content-aside__footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 21px;
  }
  
  .content-aside__footer a {
    text-decoration: underline;
  }
  
  .content-aside__footer-item {
    color: rgb(196, 196, 196);
    font-size: 14px;
    line-height: 16px;
  }

  @media (max-width: 991px) {
    .content-aside{
        width: 100%;
        max-width: none;
    }
  }