.registr-modal,
.registr-message {
  width: 100vw;
  height: 100vh;
  background: rgb(78 99 159 / 70%);
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 1;
}

.registr-modal.active,
.registr-message.active {
  display: block;
}

.registr-modal__content {
  padding: 20px 50px 10px; /*было 20px 87px*/
}
.registr-message__content {
  padding: 20px 0px;
}

.registr-modal__content,
.registr-message__content {
  position: relative;
  background: white;
  border-radius: 8px;
  margin: 50px auto;
  /* height: 150px; */
  width: 80%;
}

.registr-message__content {
  width: 50%;
}

.registr-modal__content {
  width: 50%;
}

.registr-message__content p {
  text-align: center;
  margin: 87px auto;
}

.registr-modal-buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  row-gap: 10px;
}

.registr-modal__content h3 {
  margin: 0px 0px 10px 0px;
  text-align: center;
}

.registr-modal__content h6 {
  text-align: center;
  margin: 0px 0px 10px 0px;
  font-weight: 200;
}

.registr__btn {
  transition: background-color 0.2s ease;
  outline: none;
}
.registr__btn:hover {
  background-color: #4a89dc;
  box-shadow: inset 0 0 0 1px #404b5b;
  outline: none;
}

.registr-modal-buttons input {
  padding: 8px 15px 8px 3px;
}
.eye {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  transform: translate(190px, 24px);
}

.warning {
  margin: 10px 0px 0px 0px;
  font-size: 12px;
  text-align: center;
  color: red;
}

@media (max-width: 555px) {
  .registr-message__content,
  .registr-modal__content {
    width: 80%;
  }
}
