.card-item {
    border: 1px solid #efeff0;
    width: calc((100% - 60px) / 3);
    /* отступы слева и справа*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    overflow: hidden; /* все что выходит за рамки блока (чаще всего это связано с картинками) - обрезается*/
    cursor: pointer;
  }
  .card-item:hover .card-item--title {
    color: #cb1919;
  }
  
  .card-item--img {
    width: 100%;
    display: flex; /* хз */
  }
  .card-item--img img {
    width: 100%; /*если прилетит огромная карточка 4к - чтоб не разбила нам контент */
  }
  .card-item--descr {
    font-size: 14px;
    line-height: 16px;
    color: rgb(196, 196, 196);
  }
  .descr--1 {
    transform: translateY(-4px);
  }
  
  .card-item--title {
    margin: 12px 0 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: rgb(37, 110, 235);
  }
  
  .card-item--price {
    margin-bottom: 14px;
    color: #000;
  }

  @media (max-width: 1200px) {
    .card-item{
        width: calc((100% - 30px)/ 2); /* отступы слева и справа (по 2 элемента)*/
    }
  }

  @media (max-width: 480px) {
    .card-item{
      width: 100%
    }
  }