.header {
  margin: 30px 0 24px;
}

.header-box {
  /* border: 1px solid #db5757; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

.header-logo {
  max-width: 91px;
  display: flex;
  align-items: center;
  color: rgb(10, 20, 58);
}

.header-logo span {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-left: 6px;
}

.header-burger {
  display: none;
  width: 30px;
  height: 15px;
  z-index: 2;
}

.modal,
.registr-modal,
.registr-message {
  width: 100vw;
  height: 100vh;
  background: rgb(78 99 159 / 70%);
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 1;
}

.modal.active,
.registr-modal.active,
.registr-message.active {
  display: block;
}

.modal__content,
.registr-modal__content{
  padding: 20px 50px; /*было 20px 87px*/
}
.registr-message__content{
  padding: 20px 0px;
}

.modal__content,
.registr-modal__content,
.registr-message__content {
  position: relative;
  background: white;
  border-radius: 8px;
  margin: 50px auto;
  /* height: 150px; */
  width: 80%;
}



.registr-message__content {
  width: 50%;
}

.registr-modal__content {
  width: 50%;
}

.registr-message__content p {
  text-align: center;
  margin: 87px auto;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.burger-buttons {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  gap: 15px;
}

.burger-buttons .btn-transparent {
  padding: 0px;
}

.registr-modal-buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  row-gap: 10px;
}

.registr-modal__content h3 {
  margin: 0px 0px 10px 0px;
  text-align: center;
}

.registr-modal__content h6{
  text-align: center;
  margin: 0px 0px 10px 0px;
  font-weight: 200;
}

label {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 15px;
}

.registr__btn {
  transition: background-color 0.2s ease;
}
.registr__btn:hover {
  background-color: #4a89dc;
  box-shadow: inset 0 0 0 1px #404b5b;
}

.registr-modal-buttons input {
  padding: 8px 15px 8px 3px;
}
.eye {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  transform: translate(190px, 20px);
}

@media (max-width: 786px) {
  .header-buttons {
    display: none;
  }
  .header-burger {
    display: block;
    cursor: pointer;
  }
}

@media (max-width: 555px) {
  .registr-message__content,
  .registr-modal__content {
    width: 80%;
  }
}
